// $bg-color-secondary: #1bd741;
// $color-text-secondary: #fff;
// $color-text-thirty: #075e55;
// $color-text-last-msg: rgb(86, 86, 86);

$bg-violet1: #d076ff;
$bg-violet2: #9463fd;
$bg-violet3: #3d3a53;
$bg-violet4: #f9efff;
$bg-white: #ffffff;

$c: #fff700;
