//todo - color main green #00ff40
//todo -  variants

$color-green-950: #00370f;
$color-green-900: #076020;
$color-green-800: #067523;
$color-green-700: #009625;
$color-green-600: #00c02c;
$color-green-500: #00ff40;
$color-green-400: #2bfd5f;
$color-green-300: #70ff95;
$color-green-200: #aeffc3;
$color-green-100: #d5ffe0;
$color-green-50: #e6faf9;

$color-green-imss: #005944;

$color-white: #ffffff;
